@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

#top-section {
    text-align: left;
    margin-top: 100px;
}

#bolder {
    font-weight: 500;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: auto;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    margin-top: 40px;
    margin-bottom: 20px;

}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

p a {
    font-size: 16px;
    color: #2B2B2B;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 300;
}

p a:hover {
    font-size: 16px;
    color: #959595;
    text-decoration: none;
    font-weight: 300;
}

.underline {
    border-bottom: 1px solid #2B2B2B;
}

.underline:hover {
    border-bottom: 1px solid #959595;
}

.underline1 {
  border-bottom: 1px solid #2B2B2B;
  font-size: 16px;
  text-decoration: none;
  margin-right: 0px;
  font-weight: 300;
}

.underline1:hover {
  border-bottom: 1px solid #959595;
  margin-right: 0px;
}

.card-wrapper {
    color: unset;
    text-decoration: none;
}

hr {
    border-top: .8px solid #bbb;
    max-width: 800px;
}

.companyCardContents {
    display: flex;
    justify-content: space-between;
}

.companyCardContents a {
  color:#2B2B2B;
  text-decoration: none;
}

.companyCardContents a:hover {
    display: flex;
    justify-content: space-between;
    color: #959595;
    text-decoration: none;
}

.companyCardContents p {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    text-decoration: none;
}

.companyCardContents p a {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  text-decoration: none;
  color:#2B2B2B;
}

.social-links {
    margin-top: 20px;
}

.description a {
    margin-right: 0px;
}

.description a:hover {
    font-size: 16px;
    color: #959595;
    text-decoration: none;
    font-weight: 300;
}

@media (min-width: 600px) {
    .companyCardContents p {
        font-size: 16px;
    }
}

@media (min-width: 400px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .companyCardContents p {
        font-size: 12px;
    }
}

@media (min-width: 200px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 300px) {
    .companyCardContents p {
        font-size: 10px;
    }
}